<header class="col-12 py-2 px-3 px-md-4">
    <div class="d-flex col-12">
        <i class="fas fa-check-square fa-2x text-white"></i>

        <form action="{% url 'search' %}" method="get" class="col search-form" id="search-form">
            <div class="d-flex col-9 search_box mx-auto">
                <input type="search" name="search" id="search" class="form-control border-0 col" placeholder="Search">
                <button type="submit" class="btn"><i class="fa fa-search text-white"></i></button>
            </div>
        </form>
    </div>
</header>


<style>
    header{
        /* background: #f1f1f1; */
        background: #3F51B5;
    }
    form.search-form input:focus{
        box-shadow: none;
        background: none;
        color: white;
    }
    .search_box{
        background: #5C6BBE;
    }
    .search_box input{
        background: none;
        color: white;
    }
    .search_box input::placeholder{
        color: #eee;
    }
</style>