{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit Task{% endblock title %}


{% block main %}
<div class="content-wrapper col-12 p-1 p-md-0 d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="details-holder col col-md-8">
        <form action="" method="post">
            {% csrf_token %}
            <div class="heading d-flex justify-content-between p-3 pb-2">
                <h6 class="mt-2">Edit Task</h6>
                <div class="d-flex">
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </div>
            <div class="body p-3 pt-2">
                {{ form|crispy }}
            </div>
        </form>
    </div>
</div>

{% for task in tasks %}
    <div class="d-none check_completed">{{task.completed}}</div>
    <div class="date d-none">{{task.deadline}}</div>
{% endfor %}
{% endblock main %}
    